<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{header.insegnanti})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
    	<h4 >Lista di insegnanti</h4>
		<ul>
			<li th:each="insegnante : ${insegnanti}">
				<a href="insegnante.html" 
				   th:href="@{'/insegnante' + '/' + ${insegnante.id}}" 
				   th:text="|${insegnante.nome} ${insegnante.cognome}|">Paolo Rossi</a>
		
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>
